@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal
}

nav {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  background: #F55A5A;
  color:white;
  font-weight: 500;
  padding: 15px;
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.075em;
}

nav > img {
  margin-right: 7px;
}

div.content {
  width: 550px;
  height: 704px;
  margin: auto;
}

div.card {
  float:left;
  padding: 18px 40px 18px 40px;
  margin: auto;

}

div.card--content {
  display:flex;
}

img.card--picture {
  height: 168px;
  width: 125px;
  border-radius: 5px;
}

.card--textbox {
  padding: 20px 0px 20px 20px;
}

div.card--text-locationbox {
    display:flex;
    align-items: center;
    font-weight: 500;
  }

img.card--text-location-logo {
  width: 7px;
  margin-right:4px;
}

span.card--text-location-country {
  line-height: 12px;
  letter-spacing: 0.17em;
  font-size: 10.24px;
  line-height: 12px;
  margin-right: 12px;
}

div.card--text-locationbox > a {
  color: #918E9B;
  font-size: 11px;
  line-height: 12px;
  text-decoration-line: underline;
}

h1.card--text-title {
  padding: 7px 0px 5px 0px;
  font-weight: bold;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

p.card--text-traveldates {
  font-weight: bold;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 10px;
}

p.card--text-description {
  color: #2B283A;
  font-size: 10px;
  line-height: 150%;
}

hr.divider {
  border: 1px solid #F5F5F5;
  margin-left:40px;
  margin-right:40px;
}