@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal
}

nav {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  background: #F55A5A;
  color:white;
  font-weight: 500;
  padding: 15px;
  margin-bottom: 27px;

}

nav > img {
  margin-right: 7px;
}



div.card {
  float:left;
  padding: 18px 40px 18px 40px;
  
}

div.card--content {

  /* padding:40px; */
}

.card--picture {
  float: left;
  height: 168px;
  width: 125px;
  border-radius: 5px;
}

div.card--location {
  display:flex;
  flex-direction: row;
  font-weight: 500;
}

.card--location-logo {
  width: 7px;
  height: 9.55px;
}

.card--location-country {
  line-height: 12px;
  letter-spacing: 0.17em;
}

.card--content-travel-dates {
  font-weight: bold;
  font-weight: 700;
}

div.card--location > span > a {
  color: #918E9B;
}

div.card--content > h1 {
  font-weight: bold;
  font-weight: 700;

}

p.card--content-description {
  color: #2B283A;
}

.divider {
  /* border: 1px solid #F5F5F5; */
  border: 1px solid black;
  margin-left:40px;
  margin-right:40px;
}